<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ApplicationUrl" value="http://u-qaicpcurrent.vocusdr.com/Login.aspx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SmokeTestUsername" value="mwatkins@icontact.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SmokeTestPassword" value="Passw0rd" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>