<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.10.0" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="2.48.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net461" />
</packages>