<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  

  <appSettings>
    <!-- Test Execution Settings -->
    <add key="Browser" value="Chrome" />
    <add key="Timeout" value="5" />
    <add key="RetryInterval" value=".1" />

    <!-- Zukini Settings -->
    <add key="MaximizeBrowser" value="true" />
    <add key="ScreenshotDirectory" value="..\..\..\Screenshots" />
    
    <!-- Application Under Test Settings -->
    <add key="GoogleUrl" value="http://www.google.com" />
    <add key="W3SchoolsBaseUrl" value="http://www.w3schools.com" />
    <add key="JsonPlaceholderApiUrl" value="http://jsonplaceholder.typicode.com" />
    
    <!-- Grid Settings - Add Url to Grid Hub here -->
    <add key="GridUrl" value="" />
  
  </appSettings>  
  
  <specFlow>
    
    
    
    <stepAssemblies>
      <stepAssembly assembly="Zukini" />
      <!--<stepAssembly assembly="Zukini.UI" />-->
    </stepAssemblies>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
